<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:replace="/layout :: css"></style>
</head>
<body>
<h1><a style="text-decoration: none" type="button" th:href="@{/student}"><span style="color: white">List Student</span></a></h1>
<button><a th:href="@{/student/create}">Create new student</a></button><br><br>
<button><a type="button" th:href="@{/classroom}">List Classroom</a></button><br><br>

<form th:action="@{/student/list}" method="get">
    <label>Search By Name:
        <input type="text" name="search" th:value="${search}">
    </label>

    <button type="submit">Search</button>
</form><br>

<table id="products">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Avg</th>
        <th>Classroom</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="s : ${students}">
        <td th:text="${s.getName()}"></td>
        <td th:text="${s.getAge()}"></td>
        <td th:text="${s.getPoint_avg()}"></td>
        <td>
            <a th:text="${s.getClassroom().getName()}"
               th:href="@{/classroom/student-in(class_id=${s.getClassroom().getId()})}"></a>
        </td>
        <td><a th:href="@{/student/edit/{id}(id=${s.getId()})}">Edit</a></td>
        <td><a th:href="@{/student/delete/{id}(id=${s.getId()})}"
               onclick="return confirm('Are you sure you want to Delete?')">Delete</a></td>
        <td><a th:href="@{/student/view/{id}(id=${s.getId()})}">View</a></td>
    </tr>
</table>
<br>
<div>
    <a th:href="@{/student(page=${students.number - 1},search=${search})}"
       th:if="${students.hasPrevious()}"><span>Previous</span></a>
    <span th:text="${students.number + 1} + '/' + ${students.totalPages}"></span>
    <a th:href="@{/student(page=${students.number + 1},search=${search})}"
       th:if="${students.hasNext()}"><span>Next</span></a>
</div>
<footer th:replace="/layout::footer"></footer>
</body>
</html>
